.Container {
  text-align: center;
  margin: auto;
  width: 80%;
  height: 80%;
}
.ClientContainer{
  border-style: solid;
  background-color: #3641dc;
}

.Logo {
    background-color: #339fff;
    margin: 0;
    padding: 10px;
}

