.Container {
  margin: auto;
  width: 80%;
  height: 80%;
}

.center {
    text-align: center;
}

.ClientContainer{
  border-style: solid;
  background-color: #3641dc;
}

.Logo {
  background-color: #339fff;
  margin: 0;
  padding: 10px;
}
