@import "../../variables";
.client {
  &__header {
    text-align: center;
    border-bottom: 1px solid $main-text;
  }
  &__box {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid $bright-blue;
    margin-bottom: 20px;
  }
}


.center {
    text-align: center;
}

.ClientContainer{
  border-style: solid;
  background-color: #3641dc;
}

.Logo {
  background-color: #339fff;
  margin: 0;
  padding: 10px;
}
