.assistant {
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  z-index: 2;
  &__image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    &--rotate {
      transform: scaleX(-1);
    }
  }
}
