$main-green: #28c878;
$main-text: #888;
$main-blue: #564e8a;
$dark-blue: #383468;
$bright-blue: #b7aec7;
$bright-gray: #f5f5f5;
$gray: #d0d0d0;
$dark-gray: #393939;
$main-danger: #ff5042;
$second-danger: rgba(255, 92, 75, 0.3);
